@import url('https://fonts.googleapis.com/css?family=Marmelad');

html,
body,
#root {
  height: 100%;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
body {
  background: linear-gradient(to top right, #71AE51 1%, #F3BA4B 25%, #E6873B 40%, #CF4845 60%, #8B4593 80%, #449CD7 100%);
}


